.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: (100px, auto);
    grid-gap: 5px;
    position: relative;
    padding: 5px;
    padding-left: 60px;
}

.page-head {
    grid-column-start: 1;
    grid-column-end: 4;
}


.man {
    grid-column-start: 1;
    grid-column-end: 4;
}

.man-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: (100px, auto);
    grid-gap: 5px;
    position: relative;
    padding: 5px;
    padding-left: 60px;
    
}

.women-product-header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.women-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: (100px, auto);
    grid-gap: 5px;
    position: relative;
    padding: 5px;
    padding-left: 60px;
}




  